@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */

#code_of_conduct{
	font-family: "Roboto", sans-serif;
	color: #CABBB7;
	padding-right: 20px; /* keep 20px white at right window side */
	text-align: justify;
}
