@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */

#my_header{ /* heading-text + heading-logo + nav-bar Position from right*/
	z-index: 1; /* scroll everything else below the header */
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #CABBB7;
	width: 100%; /* full width of screen */
	height: 134px; /* fixed size and 4px overlap to navbar to avoid white space when zooming in*/
}

#my_header_container{
	float: right; /* set zero point to the right */
}

#my_logo_top{
	height: 82px; /* to calculate vertical position */
	margin-top: 24px; /* vertically center logo in header */
	margin-right: 4vw; /* 4vw as relative unit horizontal space to screen */
}

#my_header_text{
	position: relative;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	top: -25px; /* vertically move text */
	font-size: 2.5vw; /* vw to resize text with resizing window */
	margin-right: 10vw; /* vw as relative unit horizontal space between text and logo */
}

#my_nav{
	background-color: #C65252;
	width: 100%; /* full width of screen */
	height: 45px; /* fixed size avoid white space when zooming in*/
	margin-top: 130px; /* moving navbar down 4px overlap*/
}

.my_li{ /* style elements in nav-list */
	position: relative;
	font-family: "Roboto", sans-serif;
	font-size: 18px; /* fixed text-size */
	list-style: none; /* remove bullets */
	font-weight: 500;
	display: inline; /* position elements horizontally */
	float: right;
	top: 11px; /* move list elements down */
	padding-left: 20px; /* space between nav elements while measuring from right side */
}

.my_li > a{ /* style links in nav list */
	color: #F0ECEC;
	text-decoration: none;
}

#my_ul{
	margin-right: 8.5vw; /* position nav-list */
}

#my_heading{
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	text-align: center;
	font-size: 40px; /* fixed text-size */
	padding-top: 155px; /* vertically position text */
}

#my_article_01{
	padding-top: 10px; /* insert vertical space */
}

.my_figcaption{
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	text-align: center; /* center text in figure */
}

#my_img_01{
	width: 100%;
	height: 175px;
	object-fit: cover; /* crop the image */
	margin-left: auto; /* center image in figure */
 	margin-right: auto; /* center image in figure */
}

#my_figure_small_figure_left_01{
	float: left;
	width: 40%;
	margin-right: 0px; /* remove right figuretag margin */
}

#my_img_02{
	width: 100%;
	height: 157px;
	object-fit: cover; /* crop the image */
	margin-bottom: -15px; /* moving caption up */
}

#my_figure_small_figure_right_01{
	float: right;
	width: 40%;
	margin-left: 0px; /* remove left figuretag margin */
}

#my_img_03{
	width: 100%;
	height: 157px;
	object-fit: cover; /* crop the image */
	margin-bottom: -15px; /* moving caption up */
}

#my_logo_bottom{
	margin-top: 10px;
	height: 60px; /* to calculate vertical position */
}
#my_footer{
	position: relative; /* scroll the footer up and not thow them always */
	float: left;
	margin-left: -10px; /*removing left white strip */
	width: 110%; /* avoiding right white strip */
	background-color: #CABBB7;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 15px; /* fixed text-size */
	color: #C65252;
}

